.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 100;
    height: 65vh; /* Full viewport height for better visibility */
    color: #333; /* Text color for better readability */
  }
  
  .container a {
    font-size: 1rem;
    background-color: #e72929;
    color: white;
    border-radius: 10rem;
    padding: 0.7rem 1rem;
    margin: 1rem;
    text-decoration: none; /* Remove underline */
    opacity: 0.8;
  }
  
  .container a:hover {
    opacity: 1;
    cursor: pointer;
  }
  